---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3px;
}

#degree .card {
    border: 1px solid #D7CEC7;
}

#degree .card-title {
	font-weight: bolder;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 310px;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* end degree */

.h3, h3 {
	font-size: 1.25rem;
}

p {
	color: #565656;
	font-size: 0.95rem;
}

a {
	color: #565656;
}

.btn-styled {
  color: #565656;
  background-color: #D7CEC7;
  border-color: #C09580;
}

.btn-styled:hover {
  color: white;
}

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.site-title {
	color: #565656;
}

.about-section, .publications-section, .btn {
	font-size: .9rem;
}

.updates-section {
	font-size: .8rem !important;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #C09580;
}

.navbar-light .navbar-nav .nav-link {
	color: #565656;
}

hr {
	border-top: 1px solid rgba(192, 149, 128, .2) !important;
}

.site-content {
    margin-top: 0px !important;
}

.footer {
		margin-top: 50px !important;
    margin-bottom: 0px !important;
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
   min-height: 100%;
   position: relative;
}

#header {
   padding: 10px;
}

#body {
   padding: 10px;
	 padding-bottom: 30px;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
	 height: 30px;
}

a {
    color: #C09580;
}

#d-block {
	margin-top: 50px;
}

@media (max-width: 640px) {
	.container {
		max-width: 80%;
	}
	html, body {
		 font-weight: 350 !important;
	}
}

@media (min-width: 641px) {
	.container {
		max-width: 75%;
	}
	html, body {
		 font-weight: 250 !important;
	}
}

.figure {
    position: relative;
    // width: 300px; /* can be omitted for a regular non-lazy image */
    max-width: 100%;
		float: left;
	  // width: 30%;
	  padding-right: 1rem;
	  // padding-top: 0.4rem;
  }

.figure img.Sirv.image-hover {
		float: left;
	  // width: 30%;
	  padding-right: 1rem;
	  // padding-top: 0.4rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }

.figure:hover img.Sirv.image-hover {
    opacity: 1;
  }

.two-columns {
    column-count: 2;
    column-gap: 20px;
		text-align: justify;
}
